<!DOCTYPE html>
<html>
<head>
    <title>Технические работы</title>
</head>
<style type="text/css">
    div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1 {
        font-family: 'Arial', serif;
    }
</style>
<body>
<div>
    <img height = "300px" src="https://api.smartplaza.kz/mp/products/photos/9_AOV_New159716968453710.110.160.113.png">
</div>
<h1>Извините, ведутся технические работы.</h1>
</body>
</html>